<h1><span class="scrabble-title">S</span><span class="scrabble-title">C</span><span class="scrabble-title">R</span><span class="scrabble-title">A</span><span class="scrabble-title">B</span><span class="scrabble-title">B</span><span class="scrabble-title">L</span><span class="scrabble-title">E</span></h1>

<hr>
<br>
<div class="scrabble-erb">
  <h2><span class</h2>
  <h3><%= @message %><br>Your score is <%= @score %>.</h3>
</div>
